:root{
    --color-primario:#CFC4BD;
    --color-cafe: #7C4E29;
}
aside {
    width: 33%;
    display: inline-block;
    position: sticky;
    background-color: var(--color-primario);
    text-align: center;
    margin-top: 50px;
}

main {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

.titulo-carrito-compras{
    margin: 20px;
}


.card{    
    margin-bottom: 15px;
    background-color: var(--color-primario);
    border:100px;
}

.card__imagen{
    height: 300px;
    width: 270px;
    margin:20px
}

.formulario{
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.formulario__titulo{
    text-align: justify;
    color: black;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
   
}

.formulario__p{
    padding-bottom: 30px;
}

.formulario__form{
    justify-content: space-evenly;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight:lighter;
    padding: 10px 0;
    font-size: 16px;
}

.formulario-bloques{
    padding: 10px;
    width: 100%;
    
}

.formulario-bloques__titulo{
    font-size: 18px;
    font-weight: bold;
}

label > input {
    padding: 6px;
    text-align: justify;
    margin-bottom: 10px;
       
}

textarea{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    padding: 6px;
    font-size: 15px;
    color: azure;
}

.boton-enviar{
    font-size: 20px;
    background-color: #F39C12;
    margin-top: 10px;
}
