
.foto-principal__boton{
    font-size: 25px;
    margin-top: 100px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-primario);
    border: 1px solid var(--color-cafe);
    box-shadow: 0px 0px 5px var(--color-primario);
    position: absolute;
    color: black;

}

.foto-principal__boton:hover{
    font-size: 25px;
    margin-top: 100px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid var(--color-cafe);
    box-shadow: 0px 0px 7px var(--color-primario);
    position: absolute;
    color: white;

}



.foto-principal{
    width: 100%;
    /* height: 600px; */
    margin-top: 20px;
    margin-bottom: 40px;
}

.best-seller{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.best-seller__texto{
    font-size: 25px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.best-seller__boton{
    font-size: 20px;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    border: 2px solid var(--color-cafe);
    box-shadow: 0px 0px 5px var(--color-primario);

}

.best-seller__boton:hover{
    font-size: 20px;
    margin-top: 7px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: black;
    border: 2px solid var(--color-cafe);
    box-shadow: 0px 0px 7px var(--color-primario);
    color: white;
}

.best-seller__div{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.best-seller__foto{
    height: 300px;
    padding: 10px;
    
}



