
@font-face {
    font-family: Playfair-Display;
    src: url("Font/PlayfairDisplay-VariableFont_wght.ttf");
}


@font-face {
    font-family: Montserrat;
    src: url("Font/Montserrat-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: Playfair-Display;
}


:root{
    --color-primario:#CFC4BD;
    --color-cafe: #7C4E29;
}

.barra{
    background-color: var(--color-primario);
    text-align: right;
    
}

.barra_icono{
   width: 30px;
   padding: 10px;
}

.encabezado{
    width: 100%;
    clear: both;
    display: table;
}

.logo{
    width: 150px;
    float: left;
    vertical-align: top;
}

.barra-navegacion{
    width: 900px;
    margin: 0 auto;
    float: right;
    
}

nav ul li{
    list-style: none;
}

.barra-navegacion__ventanas{
    text-decoration: none;
    color: black;
    list-style: none;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    padding: 7px;
    font-size: 20px;
}

.barra-navegacion__ventanas:hover{
    margin-left: 50px;
    margin-top: 70px;
    padding: 7px;
    color: #7C4E29;
    border: 1px solid var(--color-cafe);
    border-radius: 4px;
    box-shadow: 0px 0px 2px var(--color-cafe);   
}


.logo{
    width: 150px;
    position:float;
    vertical-align: top;
}

hr{
    background-color: var(--color-cafe);
    border: 1px solid var(--color-cafe);
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primario);

}

.pie-pagina{
    text-align: center;
    padding-top: 80px;
    text-align: justify;
    
}

.pie-pagina__redes{
    padding-top: 50px;
}


.pie-pagina__texto{
    padding: 10px;

}

.mapa{
    display: inline-block;
    text-align: center;
    position: relative;
    left: 70%;
    vertical-align: top;
    padding: 15px;
} 